<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Notizen</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        {{#if altTheme}}
            <link rel='stylesheet' href='/stylesheets/altStyle.css'/>
        {{/if}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>