*{
    margin: 0;
    padding: 0;
}

/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #757474;
    padding: 1rem;
}

main {
    padding: 2rem 1rem;
}

.button {
    padding: 0.5rem;
    background: #cbcbcb;
    border: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;
    margin: 0.5rem;
    outline: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
}

textarea, input[type=date], select, .note-content > div {
    border-radius: 0.3rem;
    padding: 0.5rem;
}

/* Toolbar */
.toolbar > form {
    display: flex;
    flex-flow: column;
}

/* Notes */
article{
    margin-bottom: 2em;
    border: 1px solid #565050;
    border-radius: 0.3rem;
    overflow: hidden;
}

article header {
/*    background: #4c4c4c;*/
    color: #FFF;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
article header > label, .rating {
    flex-grow: 1;
}
article header > label:nth-of-type(2) {
    text-align: center;
}
article header > .rating {
    text-align: right;
}

article > form > .note-content {
    display: flex;
    flex-flow: column;
}

.note-content > textarea {
    margin: 0.5rem;
}

/* edit Note*/
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

@media all and (min-width: 70em) {
    .toolbar {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .toolbar > form:last-child {
        margin-left:auto;
    }

    article > form > .note-content {
        display: flex;
        flex-flow: row;
    }

    article > form textarea {
        flex: 2;
    }

    .button {
        min-width: 15rem;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section label {
        min-width: 15rem;
    }

    textarea, select, input[type=date] {
        width: 100%;
    }
}
